.wst-input-wrap {
  position: relative;
  z-index: 4;
  .ant-input-affix-wrapper {
    overflow: visible;
    padding-left: 10px;
  }
  .ant-input-affix-wrapper-disabled:hover {
    border: none;
  }
  .ant-input-prefix {
    margin-right: 10px;
  }
  .wst-transfer {
    display: none;
    align-items: center;
    position: absolute;
    bottom: 20px;
    left: 138px;
    z-index: 1;
    width: 142px;
    height: 16px;
    line-height: 16px;
    text-align: right;
    white-space: nowrap;
    .j-tooltip-icon {
      margin-left: 4px;
      transform: translateY(-1px);
    }
    &:hover {
      .wst-transfer-unit,
      .wst-transfer-text {
        color: #fff;
      }
    }
  }
  .wst-transfer-unit {
    color: rgba(255, 255, 255, 0.6);
    font-family: Avenir Next;
    font-size: 12px;
    font-weight: 400;
    margin-left: 2px;
    transition: all 0.3s ease-in-out;
  }
  .wst-transfer-text {
    display: block;
    max-width: 80px;
    color: rgba(255, 255, 255, 0.6);
    font-family: Avenir Next;
    font-size: 12px;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: all 0.3s ease-in-out;
  }
  &.j-usdt-input-wrap {
    .ant-input {
      position: relative;
      top: 10px;
      height: 28px;
    }
    .wst-transfer {
      display: flex;
    }
  }
}


.j-tab-en {
  .ant-tabs-tab {
    &:nth-child(2) {
      .ant-tabs-tab-btn {
        text-indent: -11px;
      }
    }
  }
}

.j-wrapper.white{
  .wst-input-wrap {
    .wst-transfer-unit,
    .wst-transfer-text {
      color: rgba(34, 35, 43, 0.6);
    }
  }
  .wst-transfer {
    &:hover {
      .wst-transfer-unit,
      .wst-transfer-text {
        color: #22232b;
      }
    }
  }
}

.safe-input {
  &.safe-input-wstusdt {
    .j-error-tip {
      top: 95px;
    }
  }
}

@media (max-width: 750px) {
  .j-modal {
    .ant-tabs {
      overflow: visible;
    }
    .safe-input,
    .safe-input-with-wallet {
      .j-error-tip {
        top: 68px;
        bottom: auto;
      }
    }

    .safe-input-with-wallet {
      .j-error-tip {
        top: 97px;
      }
    }
  }
  .token-select .token-options {
    max-width: calc(100vw - 78px);
  }
  .wst-input-wrap .wst-transfer-text {
    max-width: 110px;
  }
}

@media (max-width: 600px) {
  .wst-input-wrap .wst-transfer-text {
    max-width: 90px;
  }
}

@media (max-width: 450px) {
  .wst-input-wrap .wst-transfer-text {
    max-width: 70px;
  }
}

@media (max-width: 410px) {
  .wst-input-wrap .wst-transfer-text {
    max-width: 30px;
  }
}
