{
  "arrowParens": "avoid",
  "trailingComma": "none",
  "singleQuote": true,
  "quoteProps": "preserve",
  "printWidth": 120,
  "tabWidth": 2,
  "importOrderParserPlugins": ["typescript", "decorators-legacy", "jsx", "decorators"]
}
