.canvasBox {
  position: relative;
  height: 190px;
  .ellipse-color {
    width: 220px;
    height: 190px;
    margin: 10px auto 0;
    background: url(../../images/ellipse-color.png) no-repeat;
    background-size: 100%;
    position: relative;
    display: flex;
    align-items: center;
    padding-top: 35px;
    .Triangle {
      position: absolute;
      left: 101.5px;
      top: 32.5px;
      transform: rotate(-0.25turn);
      transform-origin: 8.5px 73px;
      transition: all 0.4s ease-in-out;
    }
    .canvas-text {
      margin: 0px auto 0;
      text-align: center;
      width: 110px;
      height: 70px;
      cursor: pointer;
      .fz20 {
        font-size: 20px;
        font-weight: 600;
      }
      .red {
        color: #f66;
      }
      .purple {
        color: #c9f;
      }
      .blue {
        color: #69f;
      }
      .green {
        color: #1ed0ac;
      }
      .gray {
        color: #f2f2f2;
      }
      p {
        margin-bottom: 0;
        &.fz20 {
          font-family: PingFang SC;
          font-style: normal;
          font-weight: 600;
          font-size: 12px;
          line-height: 20px;
          text-align: center;
          &.with-color {
            color: #3d56d6;
          }
        }
        &.black {
          font-family: Roboto;
          font-style: normal;
          font-weight: bold;
          font-size: 24px;
          line-height: 33px;
          text-align: center;
          &.with-color {
            color: #0f134f;
          }
        }
        &.not-connect {
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          line-height: 20px;
          text-align: center;
          color: #84869e;
        }
        &.big {
          font-family: Roboto;
          font-style: normal;
          font-weight: bold;
          font-size: 24px;
          line-height: 28px;
          text-align: center;
          color: #0f134f;
          margin-top: -2px;
        }
      }
    }
  }
}

#outerCircle,
#outerCircleDefault {
  display: none;
}

.account-gauge {
  position: relative;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;

  .account-dashboard {
    background: url(../../images/v2/account/inner-dashboard.svg) center 15px no-repeat;
  }

  .account-dashboard-pointer {
    width: 20px;
    height: 3px;
    position: absolute;
    left: 0px;
    top: 75px;
    transform: rotate(-30deg);
    transform-origin: 77px 2px;
    transition: all 0.4s ease-in-out;
  }

  .canvas-text {
    position: absolute;
    left: 22px;
    top: 50px;

    margin: 0px auto 0;
    text-align: center;
    width: 110px;
    height: 70px;
    cursor: pointer;
    .fz20 {
      font-size: 20px;
      font-weight: 600;
    }
    .red {
      color: #ff5266;
    }
    .purple {
      color: #ff5266;
    }
    .blue {
      color: #a0c4ff;
    }
    .green {
      color: #8ff7e2;
    }
    .gray {
      color: #f2f2f2;
    }
    p {
      margin-bottom: 0;
      &.fz20 {
        font-family: PingFang SC;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 20px;
        text-align: center;
        &.with-color {
          color: #3d56d6;
        }
      }
      &.black {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 33px;
        text-align: center;
        &.with-color {
          color: #0f134f;
        }
      }
      &.not-connect {
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 20px;
        text-align: center;
        color: #9195fb;
        padding: 8px;
      }
      &.big {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        color: #0f134f;
        margin-top: -2px;
      }
    }
  }
  .canvas-text.season p.not-connect {
    color: #b3b4b7;
    &:hover {
      color: #6f7075;
    }
  }
}

.j-wrapper.white {
  .account-gauge {
    .account-dashboard {
      background: url(../../images/v2/white-theme/account/inner-dashboard.svg) center 15px no-repeat;
    }
    .canvas-text {
      .red {
        color: #ff5266;
      }
      .blue {
        color: #6b9bff;
      }
      .green {
        color: #18c19f;
      }
    }
    .canvas-text.season p.not-connect {
      color: #737480;
      &:hover {
        color: #bdbdbf;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .account-gauge {
    margin-top: 32px;
  }
}
