.m-tabsbar {
  @media screen and (min-width: 768px) {
    display: none !important;
  }
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 68px;
  padding: 0;
  align-items: center;
  justify-content: center;
  background: #31333a;
  padding-top: 4px;
  z-index: 1080;

  .menu {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
    height: 48px;
    position: relative;
    > a {
      width: 20%;
    }
    .new-icon {
      position: absolute;
      top: 0px;
      right: 0px;
    }
  }

  .menu-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    text-decoration: none;
    &.current {
      .home {
        background: url(../../images/v2/mobile/tabsbar/icon_home_selected.png) no-repeat center/cover;
      }
      .strx {
        background: url(../../images/v2/mobile/tabsbar/icon_strx_selected.png) no-repeat center/cover;
      }

      .energy {
        background: url(../../images/v2/mobile/tabsbar/icon_energy_selected.png) no-repeat center/cover;
      }

      .dao {
        background: url(../../images/v2/mobile/tabsbar/icon_dao_selected.png) no-repeat center/cover;
      }

      .stUsdt {
        background: url(../../images/v2/mobile/tabsbar/icon_stUsdt_selected.png) no-repeat center/cover;
      }

      .sbmv1 {
        background: url(../../images/v2/mobile/tabsbar/home-sbmv1-selected-icon.svg) no-repeat center/cover;
      }
      
      .sbmv2 {
        background: url(../../images/v2/mobile/tabsbar/home-sbmv2-selected-icon.svg) no-repeat center/cover;
      }
    }
  }

  .menu-icons {
    display: block;
    width: 26px;
    height: 26px;
    background: url(../../images/v2/mobile/tabsbar/icon_home.png) no-repeat center/cover;

    &.strx {
      background: url(../../images/v2/mobile/tabsbar/icon_strx.png) no-repeat center/cover;
    }

    &.energy {
      margin: 0 auto;
      background: url(../../images/v2/mobile/tabsbar/icon_energy.png) no-repeat center/cover;
    }

    &.dao {
      background: url(../../images/v2/mobile/tabsbar/icon_dao.png) no-repeat center/cover;
    }

    &.stUsdt {
      background: url(../../images/v2/mobile/tabsbar/icon_stUsdt.png) no-repeat center/cover;
    }

    &.more {
      background: url(../../images/v2/mobile/tabsbar/more.svg) no-repeat center/cover;
    }

    &.sbmv1 {
      background: url(../../images/v2/mobile/tabsbar/home-sbmv1-icon.svg) no-repeat center/cover;
    }
    
    &.sbmv2 {
      background: url(../../images/v2/mobile/tabsbar/home-sbmv2-icon.svg) no-repeat center/cover;
    }
  }
  .bs-route-m.ant-popover-open,
  .bs-route-m.current {
    .more {
      background-image: url(../../images/v2/mobile/tabsbar/more-hover.svg);
    }
  }


  .menu-item-label {
    display: block;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    transform: scale(0.833);
    color: #fff;
    line-height: 14px;
    text-align: center;
    >span {
      color: #fff !important;
    }
  }

  &.white {
    background: #fff;

    .menu-item {
      &.current {
        .home {
          background: url(../../images/v2/mobile/tabsbar/white-theme/icon_home_selected.png) no-repeat center/cover;
        }
        .strx {
          background: url(../../images/v2/mobile/tabsbar/white-theme/icon_strx_selected.png) no-repeat center/cover;
        }

        .energy {
          background: url(../../images/v2/mobile/tabsbar/white-theme/icon_energy_selected.png) no-repeat center/cover;
        }

        .dao {
          background: url(../../images/v2/mobile/tabsbar/white-theme/icon_dao_selected.png) no-repeat center/cover;
        }

        .sbmv1 {
          background: url(../../images/v2/mobile/tabsbar/white-theme/home-sbmv1-selected-icon.svg) no-repeat center/cover;
        }
        
        .sbmv2 {
          background: url(../../images/v2/mobile/tabsbar/white-theme/home-sbmv2-selected-icon.svg) no-repeat center/cover;
        }
      }
    }

    .menu-icons {
      display: block;
      width: 26px;
      height: 26px;
      background: url(../../images/v2/mobile/tabsbar/white-theme/icon_home.png) no-repeat center/cover;

      &.strx {
        background: url(../../images/v2/mobile/tabsbar/white-theme/icon_strx.png) no-repeat center/cover;
      }

      &.energy {
        background: url(../../images/v2/mobile/tabsbar/white-theme/icon_energy.png) no-repeat center/cover;
      }

      &.dao {
        background: url(../../images/v2/mobile/tabsbar/white-theme/icon_dao.png) no-repeat center/cover;
      }

      &.stUsdt {
        background: url(../../images/v2/mobile/tabsbar/icon_stUsdt.png) no-repeat center/cover;
      }

      &.more {
        background: url(../../images/v2/mobile/tabsbar/white-theme/more.svg) no-repeat center/cover;
      }

      &.sbmv1 {
        background: url(../../images/v2/mobile/tabsbar/white-theme/home-sbmv1-icon.svg) no-repeat center/cover;
      }
      
      &.sbmv2 {
        background: url(../../images/v2/mobile/tabsbar/white-theme/home-sbmv2-icon.svg) no-repeat center/cover;
      }
    }
    .bs-route-m.ant-popover-open,
    .bs-route-m.current {
      .more {
        background-image: url(../../images/v2/mobile/tabsbar/white-theme/more-hover.svg);
      }
    }

    .menu-item-label {
      color: #22232b;
       > span {
        color: #22232b !important;
       }
    }

    .bs-route.bs-route-m {
      .bs-arrow {
        transform: rotate(0deg);
      }
      &.ant-popover-open,
      &.current {
        .menu-item-label {
          > span {
            color: #fff;
          }
        }
        .bs-arrow {
          background-image: url(../../images/JLv2/white-theme/header/header-select-arrow-hover.svg);
          // transform: rotate(180deg);
        }
      }
    }
  }
}

@media screen and (max-width: 798px) {
  .beta {
    &::before {
      left: 50%;
      transform: translateX(16px);
    }
    &.energy-beta {
      &::before {
        transform: translateX(12px);
      }
    }
  }
  .header-dropdown-v2-mobile {
    position: fixed;
    left: 15px;
    right: 15px;
    bottom: 79px;
    top: auto;
    min-height: 185px;
    padding-top: 0;
    margin-left: 0;
    &::before {
      display: none;
    }
    .header-v2-icon {
      background-position: 10px center;
      padding-left: 52px !important;
    }
    .dropdown-inner {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 14px 10px;
      border-radius: 10px;
      background-color: #131721;
      border: 1px solid #41444c;
      .item-title {
        width: 100%;
        margin-bottom: 8px;
        height: auto;
        &:last-child {
          margin-bottom: 0;
        }
      }
      .main-item.current,
      > div {
        background-color: transparent !important;
      }
      > div {
        padding: 0;
      }
      .main-item {
        width: 100%;
        &::after {
          opacity: 1 !important;
          width: 20px;
          height: 20px;
          background: url(../../images/JLv2/header/header-triangle-m.png) 0 0 no-repeat;
          background-size: 100%;
          transform: rotate(180deg);
        }
        &.current,
        &.open {
          &::after {
            transform: rotate(0deg);
          }
        }
      }
      .sub-item {
        width: 100%;
      }
      .header-v2-icon:hover {
        &.sbm-v2 {
          background-image: url(../../images/JLv2/header/sbm-v2.svg);
        }

        &.sbm-v1 {
          background-image: url(../../images/JLv2/header/sbm-v1.svg);
        }
      }
    }
  }
  .m-tabsbar.white {
    .header-v2-icon {
      &.current,
      &:hover {
        &.sbm-v2 {
          background-image: url(../../images/JLv2/white-theme/header/sbm-v2-hover.svg);
        }
        &.sbm-v1 {
          background-image: url(../../images/JLv2/white-theme/header/sbm-v1-hover.svg);
        }
      }
    }
    .header-dropdown-v2-mobile .dropdown-inner {
      border-color: #fff;
      background-color: #fff;
    }
  }
}
