body {
  .ant-tooltip.tool-top-right {
    padding-bottom: 0;

    .ant-tooltip-arrow {
      transform: rotateX(180deg);
      right: 2px;
    }
  }

  .ant-table-tbody {
    > tr:hover:not(.ant-table-expanded-row) > td,
    .ant-table-row-hover,
    .ant-table-row-hover > td {
      background: #e0e8ff;
    }
  }

  // for no-data
  .no-data {
    .ant-table-tbody {
      > tr:hover:not(.ant-table-expanded-row) > td,
      .ant-table-row-hover,
      .ant-table-row-hover > td {
        background: transparent;
      }
    }
  }

  .nav-container .userList-container .no-data tbody tr td:first-child {
    width: 100%;
  }
}
.countDatas {
  margin-top: 30px;
}
.footer-container {
  margin: 40px 0 20px;
  text-align: center;
  color: #5a5e89;
  opacity: 0.8;
  a,
  span {
    white-space: nowrap;
  }
  a {
    color: #5a5e89;

    &:hover {
      color: #3d56d6;
      opacity: 1;
    }
  }

  .line {
    margin: 0 10px;
  }
}

.nav-container {
  display: flex;
  justify-content: space-between;
  height: 500px;

  &.mining-row-old {
    height: 550px;
    .userList-container .userList-container-box {
      max-height: 456px;
    }
  }

  .account-container {
    width: 320px;
    background: #fff;
    padding: 20px;
    position: relative;
    border-radius: 8px;

    .title {
      .content {
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        color: #0f134f;
      }

      .tip {
        display: inline-block;
        width: 20px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        border-radius: 20px;
        border: 1px solid #555;
        cursor: pointer;
      }
    }

    .key {
      color: #999;
      font-size: 13px;
    }

    .value {
      color: #111;
      font-size: 16px;

      .fw500 {
        white-space: pre-wrap;
        line-height: 30px;
      }
    }

    .more {
      margin-top: 20px;
      padding-top: 16px;
      border-top: 1px solid #f2f2f2;

      p {
        display: flex;
        justify-content: space-between;
      }

      .with-icon {
        background: url(../images/tooltipIcon.svg) right center no-repeat;
        width: auto;
        display: inline-block;
        padding-right: 20px;
        cursor: pointer;
      }
    }
  }

  .intro-container {
    height: calc(100% - 92px);
    display: flex;
    flex-direction: column;
    .intro-bg {
      width: 100%;
      flex: 1;
      background: linear-gradient(to bottom right, #4a59df, #6f66f5);
      background-size: 100% 100%;
      border-radius: 8px;
      position: relative;

      &.intro-bg-mobile {
        height: 130px;
      }

      .intro-image {
        width: 100%;
        height: 100%;
        background: url(../images/intro.png) right center no-repeat;
        background-size: auto 400px;
        margin-bottom: 20px;
      }

      .intro-text {
        width: 320px;
        position: absolute;
        left: 12%;
        top: 50%;
        transform: translateY(-50%);
        color: #fff;
        font-size: 30px;

        &.english-text {
          width: 393px;
        }

        .intro-title {
          display: flex;
          align-items: center;
          justify-content: left;

          > span {
            display: inline-block;
            font-size: 24px;

            &:first-child {
              width: 126px;
              height: 28px;
              background: url(../images/mobileMainLogo.svg) 0 0 no-repeat;
              margin-right: 10px;
              background-size: 100%;
            }
          }
        }

        .intro-subtitle {
          width: 100%;
          text-align: justify;
          text-align-last: justify;
          font-size: 24px;

          > span {
            color: #fff;
            font-size: 24px;
            font-weight: 600;

            > span {
              color: #ffe500;
              font-size: 24px;
              font-weight: 600;
            }
          }
        }
      }
    }
  }

  .nav-right-container {
    width: calc(100% - 340px);
    height: auto;

    &.show-stake {
      .userList-container {
        height: calc(100% - 188px);
      }
    }
    .recommend-liquidity-stake {
      height: 76px;
      line-height: 76px;
      width: 100%;
      border-radius: 8px;
      .bg {
        width: 177px;
        height: 76px;
        top: 0;
        bottom: 0;
        right: 30px;
        background-image: url('../images/stake-bg-old.png');
      }
    }
  }
  // valueIntro
  .value-intro {
    display: flex;
    flex-direction: row;
    background: #ffffff;
    box-shadow: 0px 10px 40px rgba(205, 205, 205, 0.1);
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 16px 35px;
    color: #0f134f;
    text-align: right;
    .value-name {
      font-family: 'PingFang SC';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      color: #545669;
      line-height: 19px;
      height: 19px;
      display: inline-block;
      margin: 0 20px 0 0;
      vertical-align: top;
      margin-bottom: 4px;
    }
    .tooltip-icon {
      width: 12px;
      height: 12px;
      background-size: contain;
      position: relative;
      top: 2px;
      left: 2px;
    }
    .value-number {
      font-family: 'Rubik';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #0f134f;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: inline-block;
      vertical-align: top;
    }

    .value-item:first-child {
      text-align: left;
      border-right: 1px solid rgba(132, 134, 158, 0.4);
      padding-left: 0;
      .value-number {
        font-family: 'Rubik-Medium';
        font-size: 20px;
        color: #3d56d6;
      }
      .value-name {
        color: #3d56d6;
        font-size: 20px;
      }
    }
    .value-item {
      flex: 1;
      display: flex;
      flex-direction: column;
      text-align: left;
      padding-left: 4%;
    }
  }

  .userList-container {
    width: 100%;
    height: calc(100% - 92px);
    display: flex;
    flex-direction: column;

    .userList-container-box {
      position: relative;
      padding: 0 20px;
      background: #fff;
      border-radius: 8px;
      flex: 1;
      max-height: 406px;

      .mint-tip {
        background: #f5f6f9;
        border-radius: 2px;
        height: 50px;
        line-height: 50px;
        font-family: PingFang SC;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        color: #84869e;
        padding: 0 12px;
        display: flex;
        align-items: center;

        .ml-80 {
          margin-left: 80px;
        }

        .with-logo {
          background: url(../images/tooltipIcon.svg) right no-repeat;
          background-size: 16px;
          padding-right: 24px;
        }

        .black {
          font-family: Roboto;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 18px;
          color: #0f134f;
          margin-left: 8px;
        }
      }

      .mint-detail-title {
        font-family: PingFang SC;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        color: #0f134f;
        margin: 12px 0;
      }
    }

    table,
    tbody,
    thead {
      display: block;
      width: 100%;
      height: auto;
      cursor: pointer;

      tr {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: auto;
        cursor: pointer;
        align-items: center;

        th,
        td {
          display: inline-block;
          padding: 0 10px;
          border: none;

          &:first-child {
            width: 34%;
          }

          &:nth-child(2) {
            width: 33%;
            text-align: right;
          }

          &:nth-child(3) {
            width: 33%;
            text-align: right;
          }

          &:nth-child(4) {
            width: 33%;
            text-align: right;
          }

          &:nth-child(5) {
            width: 25%;
          }
        }

        td {
          padding: 12px 10px;

          .my-switch {
            margin-top: 14px;
          }
        }
      }

      thead {
        tr {
          background: #f7f8fb;
        }
      }

      tbody {
        tr {
          border-bottom: 1px solid #f0f0f0;

          &:last-child {
            border: none;
          }
        }
      }
    }

    .mint-table {
      table,
      tbody,
      thead {
        tr {
          cursor: default !important;

          th,
          td {
            &:nth-child(1) {
              width: 40%;
            }

            &:nth-child(2) {
              width: 25%;
              text-align: right;
            }

            &:nth-child(3) {
              width: 35%;
              text-align: right;
            }
          }
        }
      }
    }

    .collateralSymbol {
      display: flex;
      justify-content: flex-start;

      .tokenDetail {
        margin-left: 15px;

        .token-names {
          color: #0f134f;
          font-size: 14px;
        }

        .description {
          color: #84869e;
          font-size: 12px;
        }
      }
    }

    button {
      &:disabled {
        padding: 4px 12px;
        margin: 0 5px;
        border: none;
        border-radius: 5px;
        color: #111;
        background: #dfdfdf;
        cursor: unset;

        &.table-btn {
          padding: 0 6px;
          cursor: not-allowed;
        }
      }
    }
  }
}

@media screen and (min-width: 1550px) {
  .nav-container .nav-right-container .recommend-liquidity-stake .bg {
    right: 70px;
  }
}
@media screen and (min-width: 1700px) {
  .nav-container .nav-right-container .recommend-liquidity-stake .bg {
    right: 120px;
  }
}

td.ant-table-column-sort {
  background: transparent;
}

.mr-2 {
  margin-right: 2px;
}
.mr-4 {
  margin-right: 4px;
}
.mr-6 {
  margin-right: 6px;
}

.more-link {
  float: right;
  color: #0f134f;
  cursor: pointer;
  > span {
    font-weight: 400;
    font-size: 13px;
  }
  &:hover {
    text-decoration: underline;
    color: #3d56d6;
  }
  .right-arrow {
    position: relative;
    display: inline-block;
    width: 10px;
    height: 10px;
    background: url(../images/arrow-right-black-new.svg) right center no-repeat;
    background-size: 6px 10px;
    &:hover {
      background-image: url(../images/arrow-right-blue-new.svg);
    }
  }
}
.collateral-new {
  height: 66px;
  line-height: 66px;
  display: flex;
  justify-content: flex-start;
  > img {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 19px;
    left: 5px;
  }

  .tokenDetail {
    height: 66px;
    line-height: 66px;
    > div {
      text-indent: 30px;
      color: #0f134f;
      font-size: 14px;
      line-height: 16px;
      margin-top: 14px;
      margin-bottom: 4px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      &:last-child {
        color: #84869e;
        font-size: 12px;
        line-height: 14px;
        margin: 0;
      }
    }

    .token-names {
      text-indent: 30px;
      color: #0f134f;
      font-size: 14px;
    }

    .description {
      text-indent: 30px;
      color: #84869e;
      font-size: 12px;
    }
  }
}
.header-warning {
  display: flex;
  align-items: center;
  min-height: 44px;
  background: rgba(239, 86, 86, 0.06);
  border: 1px solid rgba(239, 86, 86, 0.4);
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 0 16px;
  .icon {
    background: #ef5656;
    color: #fff;
    display: inline-block;
    width: 14px;
    height: 14px;
    text-align: center;
    line-height: 14px;
    font-size: 12px;
    margin-right: 8px;
    border-radius: 14px;
    flex-shrink: 0;
  }
}
.show-all-markets {
  position: absolute;
  right: 12px;
  top: 12px;
  font-family: 'PingFang SC';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #0f134f;
  > span {
    font-size: 12px;
  }
  &.show-all-markets-m {
    // position: static;
    display: inline-flex;
    padding-right: 5px;
    > span {
      // border-bottom: 1px dashed #545669;
      padding: 0;
      margin-left: 10px;
      > span {
        font-family: 'PingFang SC';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 17px;
        color: #545669;
      }
    }
    &:hover {
      > span > span {
        color: #3d56d6;
      }
    }
    .ant-checkbox {
      position: relative;
      top: 0px;
      border: none;
    }
    .ant-checkbox-inner {
      width: 12px;
      height: 12px;
      background: #d1d7e9;
      border-radius: 2px;
      border-bottom: none;
    }
    .ant-checkbox-checked .ant-checkbox-inner {
      background: #3d56d6;
    }
    &.ant-checkbox-wrapper-checked {
      > span {
        // border-bottom: 1px dashed #3d56d6;
        > span {
          color: #3d56d6;
        }
      }
    }
    .ant-checkbox-inner::after {
      border-width: 1px;
    }
  }
}
.infoList-container {
  margin: 20px 0 16px 0;
  padding: 20px;
  background: #fff;
  overflow: hidden;
  border-radius: 8px;

  table {
    tr {
      cursor: pointer;
    }
  }

  .title {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #0f134f;
    margin-bottom: 20px;
  }

  .collateralSymbol {
    display: flex;
    justify-content: flex-start;

    .tokenDetail {
      margin-left: 15px;

      .token-names {
        color: #0f134f;
        font-size: 14px;
      }

      .description {
        color: #84869e;
        font-size: 12px;
      }
    }
  }

  .ant-table-tbody > tr {
    &:last-child {
      td {
        border-bottom: none;
      }
    }
  }

  &.multy-start {
    .ant-table-tbody > tr {
      td:nth-child(2) {
        span {
          background: url(../images/mobile/fire.svg) right no-repeat;
          background-size: 14px 18px;
          padding-right: 20px;
          min-width: 80px;
          display: inline-block;
          text-align: right;
          font-weight: 500;

          &.hide-icon {
            background: none;
          }
        }
      }
    }
  }

  &.infoList-container-mobile.multy-start .ant-table-tbody > tr td:nth-child(2) span {
    background: none;
  }

  .btn-wrap {
    display: flex;
  }
  .show-stake {
    padding: 22px 0 20px;
    display: flex;
    flex-direction: column;
    .stake-tip {
      font-weight: 500;
      font-size: 12px;
      line-height: 28px;
      color: #ffffff;
      margin-top: 6px;
      padding: 0 0px;
      text-align: center;
      background: #4c54ff;
      border-radius: 2px;
      width: 132px;
      cursor: pointer;
      transition: background-color 0.3s;
      &:hover {
        background-color: #9195fb;
      }
      span {
        font-weight: 500;
        font-size: 12px;
        line-height: 28px;
      }
      strong {
        font-weight: 600;
        font-size: 12px;
      }

      &.usdt {
        background: linear-gradient(61deg, #00afaf 77.23%, #4cffbf 100%);

        &:hover {
          background: linear-gradient(86.02deg, #006666 58.43%, #00935e 101.46%);
        }
      }
    }
  }
}

.table-btn {
  &.deposit-btn,
  &.lend-btn,
  &.withdraw-btn,
  &.giveback-btn {
    min-width: 60px;
    height: 30px;
    line-height: 30px;
    padding: 0 6px;
    text-align: center;
    font-size: 12px;
    color: #3d56d6;
    background: rgba(61, 86, 214, 0.06);
    border: 1px solid #3d56d6;
    border-radius: 4px;
    cursor: pointer;
  }

  &.lend-btn {
    background: rgba(24, 193, 159, 0.05);
    border: 1px solid #18c19f;
    color: #18c19f;
  }

  &.withdraw-btn {
    background: #773dd6;
  }

  &.giveback-btn {
    background: #ff8718;
  }

  &.reward-btn {
    min-width: 80px;
  }

  &:disabled {
    cursor: not-allowed;
    background: #dfdfdf;
    color: #111;
  }
}

.ant-table-tbody tr:hover {
  .table-btn {
    &.deposit-btn,
    &.lend-btn {
      background: #3d56d6;
      border-radius: 4px;
      color: #ffffff;
    }

    &.lend-btn {
      background: #18c19f;
      border: 1px solid #18c19f;
      border-radius: 4px;
      color: #ffffff;
    }

    &.deposit-btn.disabled {
      color: #545669;
      background: #e3e5ed;
      border-color: #e3e5ed;
    }

    &.lend-btn.disabled {
      color: #545669;
      background: #e3e5ed;
      border-color: #e3e5ed;
    }
  }
}

.arrow-right {
  display: inline-block;
  width: 10px;
  height: 5px;
  background: url(../images/arrowRight.svg) 0 0 no-repeat;
  position: relative;
  top: -3px;
  margin: 0 4px;
}

.ml12 {
  margin-left: 12px;
}

body {
  .ant-table-thead > tr {
    background: rgba(61, 86, 214, 0.06);
    border-radius: 6px;
  }
  .ant-table-thead > tr > th {
    height: 32px;
    line-height: 32px;
    padding: 0 12px;
    font-size: 12px;
    color: #545699;
    font-weight: 100;
    // background: #f7f8fb;
  }

  .ant-table-thead
    > tr
    > th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
    display: none;
  }

  .ant-table-tbody > tr > td {
    height: 66px;
    padding: 0 12px;
    font-size: 14px;
    color: #0f134f;
    border-bottom: 1px solid rgba(15, 19, 79, 0.05);
  }

  .ant-table-thead > tr > th,
  .ant-table-tbody > tr > td {
    text-align: right;
  }

  .ant-table-thead > tr > th:nth-child(1),
  .ant-table-tbody > tr > td:nth-child(1) {
    text-align: left;
  }

  .ant-tabs-tab-btn {
    font-size: 14px;
    color: #545669;
  }

  .ant-tabs-tab {
    line-height: 20px;
  }
}

.userList-container-box .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  // font-size: 14px;
  font-weight: 500;
  color: #3d56d6;
  position: relative;

  &::after {
    content: '';
    display: inline-block;
    position: absolute;
    bottom: -4px;
    left: 0;
    right: 0;
    margin: auto;
    width: 16px;
    height: 2px;
    background: #3d56d6;
    border-radius: 2px;
  }
}

.ant-tabs-ink-bar {
  display: none;
}

.userTable {
  margin-bottom: 10px;
  .warning-tip {
    // background: rgba(239, 86, 86, 0.06);
    background: rgba(255, 31, 112, 0.06);
    border-radius: 4px;
    color: #0f134f;
    padding: 10px 16px 10px 12px;
    font-size: 12px;
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;

    .icon {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background: #ff1f70;
      color: #fff;
      width: 14px;
      height: 14px;
      display: inline-block;
      text-align: center;
      line-height: 14px;
      font-size: 12px;
      margin-right: 8px;
      border-radius: 14px;
      background: url(../images/mobile/warning-icon.svg) no-repeat center;
      font-size: 0;
    }

    div {
      position: relative;
      padding-left: 20px;
      font-size: 12px;

      a {
        font-size: 12px;
        color: #3d56d6;
      }
    }

    img {
      width: 10px;
      cursor: pointer;
    }
  }

  .ant-table-cell {
    > div > p {
      color: #84869e;
      font-size: 12px;
      margin: 0;
      line-height: 14px;

      &:nth-child(1) {
        color: #0f134f;
        font-size: 14px;
        line-height: 26px;

        &.single {
          line-height: 40px;
        }
      }
    }

    p {
      margin: 0;
    }
  }

  .new-switch {
    text-align: right;
    transform: translateY(12px);
    // margin-top: 14px;
    // margin-right: 10px;
  }

  .progress-td {
    text-align: left;
    margin-top: 10px;

    .ant-progress-line {
      width: 65%;
      margin-right: 5%;
    }
  }
}

.ant-progress-line {
  &.reverse {
    margin-top: 10px;
    transform: scaleX(-1);
  }
}

.ant-progress-text {
  color: #0f134f;
  font-size: 14px;
}

.ant-modal-body {
  padding-top: 0;
}

.tabs-lend.ant-tabs-card.ant-tabs-top,
.tabs-deposit.ant-tabs-card.ant-tabs-top {
  .ant-tabs-nav-list {
    width: 100%;
  }

  .ant-tabs-tab {
    width: 50%;

    .ant-tabs-tab-btn {
      width: 100%;
    }

    &:nth-child(1) {
      &.ant-tabs-tab-active {
        border-bottom: 2px solid #1ed0ac;

        .ant-tabs-tab-btn {
          color: #1ed0ac;
          font-weight: 500;
        }
      }
    }

    &:nth-child(2) {
      &.ant-tabs-tab-active {
        border-bottom: 2px solid #ff8718;

        .ant-tabs-tab-btn {
          color: #ff8718;
          font-weight: 500;
        }
      }
    }
  }

  .ant-input-group-wrapper,
  .ant-input-group,
  .ant-input {
    height: 50px;
  }

  .ant-input-group {
    background: rgba(61, 86, 214, 0.05);
    border-radius: 6px;

    .ant-input-group-addon {
      border: none;
      padding: 10px 16px;
      background: none;
      .pointer {
        height: 30px;
        line-height: 30px;
        border-left: 1px solid rgba(15, 19, 79, 0.1);
        color: #0f134f;
        padding-left: 16px;
        &:active {
          color: #3d56d6;
        }
      }
    }

    .ant-input-affix-wrapper {
      height: 50px;
      background: none;
      border: none;
      padding-left: 16px;
      .ant-input {
        border: none;
        // padding-left: 16px;
      }
    }
  }

  .ant-input {
    border-radius: 4px 0 0 4px;
    background: transparent;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    color: #0f134f;
    border: none;
    padding-left: 16px;
  }

  .ant-input-group-addon {
    border-radius: 0 4px 4px 0;
  }

  .horizontal-line {
    margin: 16px 0;
  }

  .ant-progress-line {
    width: 100%;
  }
}

.tabs-deposit.ant-tabs-card.ant-tabs-top {
  .ant-tabs-tab {
    &:nth-child(1) {
      &.ant-tabs-tab-active {
        border-bottom: 2px solid #3d56d6;

        .ant-tabs-tab-btn {
          color: #3d56d6;
          font-weight: 500;
        }
      }
    }

    &:nth-child(2) {
      &.ant-tabs-tab-active {
        border-bottom: 2px solid #773dd6;

        .ant-tabs-tab-btn {
          color: #773dd6;
          font-weight: 500;
        }
      }
    }
  }
}

.loading-box {
  width: 100%;
  height: calc(100% - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.c-84869E {
  color: #84869e;
}

.c-545669 {
  color: #545669;
}

.c-0F134F {
  color: #0f134f;
}

.fs12 {
  font-size: 12px;
}

.fs14 {
  font-size: 14px;
}

.fs24 {
  font-size: 24px;
}

.fw400 {
  font-weight: 400;
}

.fw500 {
  font-weight: 500;
}

.fw700 {
  font-weight: 700;
}

.mb0 {
  margin-bottom: 0;
}

.ant-table-empty .ant-table-tbody > tr.ant-table-placeholder {
  td {
    height: auto;
    border: none;
  }
}

.btns {
  background: #5915e1;
  border-radius: 10px;
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-family: HelveticaNeue;
  font-size: 12px;
  color: #fff;
  letter-spacing: 0;
  text-align: center;
  display: block;
  &.bg-blue {
    background: #3d56d6;
  }
  &.bg-green {
    background: #1ba27a;
  }
  &.table-btn {
    display: inline-block;
    width: auto;
  }
}

.has-warning-tip {
  .ant-table-wrapper {
    height: 280px;
  }
  .ant-table-body {
    max-height: 252px !important;
  }
}

.j-old-wrapper.j-wrapper {
  .j-mining-reward {
    // height: 510px;
    .j-mr-content {
      height: 414px;
    }
    &.special-reward {
      .j-mr-content {
        height: 460px;
      }
    }
  }

  .j-reward-modal {
    .borrow-important-tip.borrow-tip {
      min-height: 45px;
    }
  }
}

.j-old-wrapper.j-wrapper.white {
  .ant-modal-header .ant-modal-title {
    font-family: 'PingFang SC';
  }
  .ant-modal-content {
    border-radius: 8px;
  }
  .j-btn.j-reward {
    height: 26px;
    line-height: 26px;
    background: rgba(61, 86, 214, 0.06);
    border: 1px solid #3d56d6;
    border-radius: 4px;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    color: #3d56d6;
    &:hover {
      background: #3d56d6;
      color: #ffffff;
    }
    .j-reward-btn-icon {
      display: none;
    }
    &:disabled {
      background: #e3e5ed;
      border-color: #e3e5ed;
      color: #545669;
    }
  }
  .j-mining-reward {
    .j-mr-content {
      padding: 16px 10px;
      border-radius: 6px;
      background-color: #f3f5fd;
    }
    .j-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: none;
      .j-title {
        height: auto;
        border: none;
        padding-left: 6px;
        font-weight: 400;
        font-size: 12px;
        color: #0f134f;
        font-family: 'DM Sans-Medium';
      }
      .j-value {
        margin-top: 0;
      }
      .countup-int .value-number,
      .countup-decimal .value-number {
        font-weight: 500;
        font-size: 16px;
        text-align: right;
        color: #3d56d6;
        font-family: 'Rubik-Medium';
      }
      .j-reward-unit {
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        text-align: right;
        color: #3d56d6;
        font-family: 'DM Sans-Medium';
      }
    }
    .j-ele {
      padding: 16px 20px;
      border-radius: 8px;
      &.j-reward-ele {
        padding: 16px 0;
      }
      .j-title {
        font-weight: 400;
        font-size: 12px;
        color: #545669;
        font-family: 'PingFang SC';
      }
      &.top-radius {
        border-radius: 8px 8px 0 0;
      }
      &.bottom-radius {
        border-radius: 0 0 8px 8px;
      }
    }
    .format-reward {
      .countup-int .value-number,
      .countup-decimal .value-number {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #0f134f;
        font-family: 'Rubik-Medium';
      }
      .j-reward-unit {
        font-weight: 500;
        font-size: 12px;
        color: #0f134f;
        font-family: 'DM Sans-Medium';
      }
    }
    .rewards-box {
      padding-left: 20px;
      .rewards-title > span {
        font-family: 'DM Sans-Medium';
        color: #545669;
      }
      .reward-value {
        font-size: 14px;
        color: #0f134f;
        font-family: 'Rubik-Medium';
      }
    }
    .j-ele-list {
      padding-right: 20px;
    }
    .closure-time {
      padding-left: 0;
      > span {
        color: #545669;
        font-family: 'PingFang SC';
      }
    }
    .j-mr-bottom {
      .j-warning-icon {
        background-image: url(../images/modalWarning.svg);
        transform: translateY(2px);
      }
      p {
        font-family: 'PingFang SC';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 17px;

        color: #ff8718;
      }
    }
    .j-tooltip-icon {
      width: 16px;
      height: 16px;
      background-image: url(../images/tooltipIcon.svg);
    }
  }
  .j-collapse {
    font-family: 'PingFang SC';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: #0f134f;
    opacity: 1;
    .j-collapse-icon {
      opacity: 1;
    }
    &.active {
      color: #3d56d6;
      .j-collapse-icon {
        width: 8px;
        height: 5px;
        background-image: url(../images/arrow-right-blue.svg);
      }
    }
  }
  .j-rewards {
    height: 554px;
    padding-top: 40px;
    .rewards-lists {
      border-radius: 6px;
    }
    .rewards-list-top {
      padding: 20px;
      background-color: #f3f5fd;
    }
    .rewards-list-title {
      background-color: #f3f5fd;
    }
    .rewards-list-content {
      background-color: #f3f5fd;
      .j-checkbox span {
        color: #545669;
        font-family: 'PingFang SC';
      }
      .j-reward-item {
        .j-value {
          font-size: 14px;
          color: #0f134f;
          font-family: 'Rubik-Medium';
        }
        .j-reward-unit {
          font-size: 14px;
          line-height: 20px;
          color: #0f134f;
          font-family: 'DM Sans-Medium';
        }
      }
    }
    .borrow-important-tip {
      padding-bottom: 10px;
      margin-bottom: 0 !important;
      > span:first-child {
        min-width: 12px;
        width: 12px;
        height: 12px;
        background-image: url(../images/modalWarning.svg) !important;
        margin-right: 6px;
      }
      > span {
        font-family: 'PingFang SC';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        color: #ff8718 !important;
      }
      &.opacity {
        span {
          opacity: 0;
        }
      }
    }
    .j-error-tip.wallet-reject {
      display: none;
    }
  }
  .j-large-btn.j-supply {
    border-radius: 8px;
    background: #3d56d6;
    &:disabled,
    &.disabled,
    &.disabled:focus {
      background: #d3d3d5;
    }
  }
  .j-checkbox,
  .ant-checkbox-wrapper.j-checkbox {
    .ant-checkbox-inner {
      border-radius: 2px !important;
      background: #d1d7e9 !important;
      border-color: #d1d7e9 !important;
    }

    .ant-checkbox-checked {
      .ant-checkbox-inner {
        border-radius: 2px !important;
        background: #3d56d6 !important;
        border-color: #3d56d6 !important;
      }
      &.ant-checkbox-disabled {
        .ant-checkbox-inner {
          background: #d1d7e9 !important;
          border-color: #d1d7e9 !important;
        }
      }
    }
  }
  .j-tooltip-icon {
    width: 16px;
    height: 16px;
    background-image: url(../images/tooltipIcon.svg);
  }
  .ant-tooltip .ant-tooltip-inner {
    border-radius: 5px;
    background-color: #0f134f;
    padding: 12px 16px;
  }
  .ant-tooltip-arrow-content {
    background-color: #0f134f;
  }
  .siging-icon {
    display: none;
  }
}

@media screen and (max-width: 750px) {
  .j-old-wrapper.j-wrapper.white {
    .j-btn.j-reward {
      width: 60px;
      min-width: 60px;
      padding: 0;
    }
    .j-mining-reward {
      .j-top {
        display: block;
        padding-bottom: 6px;
        .j-value {
          margin-top: 6px;
          padding-left: 8px;
        }
      }
      .j-ele {
        padding: 14px;
        border-radius: 6px;
      }
    }
  }
}
