html,
body,
* {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

body {
  overscroll-behavior: none;
}

ul,
li {
  list-style: none;
}

button,
.modal-btn {
  border: none;
  cursor: pointer;
}

#root .main-content {
  min-height: 100vh;
}

#root .white {
  color: #fff;
}

#root .j-wrapper.white .my-rent-info .rent-delegate-amount .white {
  color: #22232b;
}

// just for debug tooltip style
// body .ant-tooltip-hidden {
//   display: block !important;
// }

.flexA {
  display: flex;
  align-items: center;
}

.flexB {
  display: flex;
  justify-content: space-between;
}

.flex {
  display: flex !important;

  &.between {
    justify-content: space-between;
  }

  &.ai-center {
    align-items: center;
  }
}

.ques {
  color: #999;
  display: inline-block;
  background: #fff;
  width: 18px;
  height: 18px;
  line-height: 18px;
  text-align: center;
  border-radius: 100%;
  // margin-left: 10px;
  margin-right: 10px;
  border: 1px solid #999;
  font-family: AvenirNext-Medium;
  font-size: 16px;
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}

.center {
  text-align: center;
}

.collateralSymbol {
  align-items: center;

  img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
  }
}

.ant-progress {
  &.deposit-stroke {
    .ant-progress-success-bg,
    .ant-progress-bg,
    .ant-progress-status-success .ant-progress-bg {
      background-color: #3d56d6;
    }
  }

  &.lend-stroke {
    .ant-progress-success-bg,
    .ant-progress-bg,
    .ant-progress-status-success .ant-progress-bg {
      background-color: #1ed0ac;
    }
  }
}

// @media screen and (max-width: 798px) {
//   .ant-notification .ant-notification-notice {
//     border-radius: 2px !important;
//   }
// }

.trans-notify {
  font-family: AvenirNext-Medium;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;

  .typo-text-link {
    font-size: 14px;
    color: #4850e5;
  }

  .trans-btn-tip {
    display: inline-block;
    font-size: 12px;
    border-radius: 10px;
    padding: 10px;
  }

  .trans-pending {
    background: rgb(22, 195, 120, 0.2);
    color: rgb(22, 195, 120);
  }

  .trans-confirmed {
    background: rgb(72, 80, 229, 0.2);
    color: rgb(72, 80, 229);
  }

  .trans-failed {
    background: rgb(255, 142, 24, 0.2);
    color: rgb(255, 142, 24);
  }
}

@font-face {
  font-family: 'Roboto';
  src: url('../font/Roboto/Roboto-Black.ttf');
  src: url('../font/Roboto/Roboto-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Rubik';
  src: url('../font/Rubik/static/Rubik-Regular.ttf');
  src: url('../font/Rubik/static/Rubik-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Rubik-Medium';
  src: url('../font/Rubik/static/Rubik-Medium.ttf');
  src: url('../font/Rubik/static/Rubik-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Rubik-Bold';
  src: url('../font/Rubik/static/Rubik-SemiBold.ttf');
  src: url('../font/Rubik/static/Rubik-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'DM Sans';
  src: url('../font/DM_Sans/DMSans-Regular.ttf');
  src: url('../font/DM_Sans/DMSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'DM Sans-Medium';
  src: url('../font/DM_Sans/DMSans-Medium.ttf');
  src: url('../font/DM_Sans/DMSans-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'DM Sans-Bold';
  src: url('../font/DM_Sans/DMSans-Bold.ttf');
  src: url('../font/DM_Sans/DMSans-Bold.ttf') format('truetype');
}

body {
  font-family: 'PingFang SC', 'DM Sans', 'Rubik', 'Roboto', 'sans-serif' !important;
}

.copied-style-sp {
  position: absolute;
  font-family: PingFang SC;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
  background: #0f134f;
  border-radius: 34px;
  z-index: 9000;
  padding: 7px 22px;
  white-space: nowrap;
  cursor: pointer;
  bottom: 30px;
  left: 0;
  right: 0;
  margin: auto;
  width: 85px;
}

body {
  .ant-table-cell-scrollbar {
    display: none !important;
  }

  li:before {
    margin-left: 0 !important;
  }
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.ml16 {
  margin-left: 16px !important;
}

.mb8 {
  margin-bottom: 8px !important;
}

.mb10 {
  margin-bottom: 10px !important;
}

.mb16 {
  margin-bottom: 16px !important;
}

.mb20 {
  margin-bottom: 20px !important;
}

.mt16 {
  margin-top: 16px !important;
}

.mt20 {
  margin-top: 20px !important;
}

.mt30 {
  margin-top: 30px !important;
}

.mt40 {
  margin-top: 40px !important;
}

.fw500 {
  font-weight: 500;
}

.ellipsis {
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
