html,
body,
* {
  font-size: 12px;
}

.pool-container {
  margin: 0;
  overflow: hidden;
  height: 100vh;
  min-height: 780px;

  &.sunold-container-old {
    width: 80%;
  }

  .banner-title {
    z-index: 1;
    width: 100%;
    text-align: center;
    margin-top: 100px;

    .banner-main-title {
      width: 414px;
      height: 70px;
    }

    .banner-main-title-text {
      font-family: PingFang SC;
      font-style: normal;
      font-weight: 600;
      font-size: 40px;
      line-height: 70px;
      letter-spacing: 1px;
      color: #ffffff;
      margin: 0;
    }

    .banner-sub-title {
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 25px;
      text-align: center;
      color: #ffffff;

      span {
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        color: #ffffff;
      }

      a {
        color: #fff;
        font-size: 18px;
        text-decoration: underline;
      }
    }
  }

  .pool-bg {
    background-image: url(../images/JSTPoolBg.png);
    background-size: 100% 100%;
    position: absolute;
    top: 20px;
    bottom: 20px;
    left: 20px;
    right: 20px;
    margin: auto;
    overflow: hidden;

    .pool-bg-left {
      background-image: url(../images/poolBgLeft.png);
      width: 201px;
      height: 119px;
      left: 160px;
      top: 255px;
      position: absolute;
      background-size: contain;
    }

    .pool-bg-right {
      background-image: url(../images/poolBgRight.png);
      width: 508px;
      height: 493px;
      right: 0;
      bottom: 0;
      position: absolute;
    }
  }

  .multiple-claimed-cards {
    margin-top: 25px;

    .multiple-claimed-card {
      margin: 0 auto;
      max-width: 500px;

      .container .container-title > span > span > span {
        font-size: 12px;
        color: rgba(153, 153, 153, 0.6);
        margin-left: 6px;
      }
    }
  }

  .footer-container {
    color: #fff;

    a {
      color: #fff;
    }
  }

  .ant-modal-wrap {
    left: 194px;
  }

  .ant-alert.ant-alert-closable {
    // position: absolute;
    // top: 260px;
    // left: 0;
    // right: 0;
    margin: 0 auto;
    padding-right: 30px;
    // width: 76%;
    margin: 20px auto 0;
    font-size: 14px;
  }

  .ant-alert.alert-new {
    text-align: left;
    padding-left: 30px;
    padding-right: 40px;
    background: #f8e1cd;
    border: none;
    border-radius: 5px;
    margin-top: 20px;

    .ant-alert-message {
      color: #f5820d;
      font-size: 12px;

      > span > b {
        display: inline-block;
        width: 12px;
        height: 12px;
        margin-right: 6px;
        background: url(../images/warning.svg) 0 0 no-repeat;
        background-size: 100%;
        transform: translateY(1px);
      }
    }

    .ant-alert-close-icon {
      right: 24px;
    }

    .anticon-close {
      display: inline-block;
      width: 14px;
      height: 14px;
      background: url(../images/warning-close.svg) 0 0 no-repeat;
      background-size: 100%;

      > svg {
        display: none;
      }
    }
  }

  .ant-alert.alert-old {
    position: absolute;
    top: 260px;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding-right: 30px;
    width: 61%;
    margin: 20px auto 0;
    font-size: 14px;
  }

  .ant-alert-message {
    color: rgba(255, 0, 0, 0.85);
  }

  .intro {
    padding-top: 50px;
  }

  .intro-old {
    height: auto;

    h1,
    h4 {
      color: #fff;
      font-weight: 400;
    }

    h1 {
      font-family: HelveticaNeue-CondensedBlack;
      font-size: 50px;
      letter-spacing: 0.93px;
      line-height: 52px;
      margin-bottom: 20px;
      text-shadow: none;
    }

    h4 {
      font-family: HelveticaNeue-Bold;
      font-size: 18px;
      letter-spacing: 0;
      margin-bottom: 10px;
    }

    p,
    p a {
      color: #fff;
      font-size: 12px;
      background: none;
    }
  }

  .sunold-dashboard {
    // width: 76%;
    margin: 0 auto;
    border-radius: 15px;
    text-align: left;
    background: #ffffff;
    box-shadow: 0 20px 40px 0 rgba(148, 148, 148, 0.06);
  }

  .sunold-dashboard-old {
    width: 76%;
    margin-top: 80px;
  }

  .stake-content {
    padding: 10px 30px 10px;
    border-top: 1px solid rgb(89, 21, 225, 0.1);
  }

  .sunold-nav {
    // width: 76%;
    // margin: 80px auto 0;
    // display: flex;
    // align-items: center;
    padding: 26px 30px;
    // justify-content: space-between;
    color: #1f1f1f;

    // border-radius: 15px;
    .title {
      font-family: PingFangSC-Regular;
      font-size: 14px;
      color: #666666;
      letter-spacing: 0;
      // padding-left: 30px;
      // background: url(../images/stakeLogo.svg) left no-repeat;
      // background-size: 20px 20px;
    }

    .mined_amount {
      margin-top: 6px;
      font-family: PingFangSC-Semibold;
      font-size: 30px;
      color: #333333;
      letter-spacing: 0.8px;

      span {
        font-family: PingFangSC-Semibold;
        font-size: 30px;
        color: #333333;
        letter-spacing: 0.8px;

        &.trxUni {
          font-size: 24px;
          color: #333;
          position: relative;
          left: -4px;
        }
      }
    }

    .usd_amount {
      font-family: PingFangSC-Regular;
      font-size: 14px;
      color: #999999;
      letter-spacing: 0;

      span.usdUni {
        font-size: 14px;
      }
    }

    a {
      color: #3d56d6;
      font-size: 18px;

      &.getLp {
        font-family: PingFangSC-Regular;
        font-size: 12px;
        color: #ffffff;
        letter-spacing: 0;
        text-align: center;
        padding: 10px 14px;
        background: #3d56d6;
        border-radius: 5px;
        display: inline-table;
      }
    }

    .QuestionCircleOutlined {
      display: inline-block;
      background: transparent;
      width: 15px;
      height: 15px;
      border-radius: 16px;
      color: #fff;
      font-size: 12px;
      font-family: AvenirNext-DemiBold;
      border: none;
      text-align: center;
      line-height: 15px;
      border: 1px solid #fff;
      transform: scale(0.8);
      transform-origin: left;
      margin-left: 8px;

      &:hover {
        opacity: 0.4;
      }
    }

    .nav-tooltip {
      font-size: 12px;

      // transform: scale(0.8);
      .ant-tooltip-inner {
        border-radius: 10px;
      }
    }

    .ant-tooltip-placement-right,
    .ant-tooltip-placement-rightTop,
    .ant-tooltip-placement-rightBottom {
      font-size: 12px;
      // transform: scale(0.8);
    }

    .rules {
      color: #3d56d6;
      float: right;
      font-size: 14px;

      background: url(../images/rulesIcon.svg) left no-repeat;
      background-size: 12px 12px;
      padding-left: 16px;
      background-position: 0 4px;
      // margin-left: 8px;
      // text-decoration: underline;
      // transform: scale(0.833);
      // transform-origin: left;
    }
  }

  .ant-modal-content {
    // border-radius: 30px 30px 0 0;
    // background: none;
    // box-shadow: none;

    .ant-modal-body {
      // padding: 15px 0 0px;

      .ant-tabs-nav {
        height: 58px;
        line-height: 58px;
        // background: #3D56D6;
        border-radius: 20px;

        &::before {
          border-bottom: none;
        }

        .ant-tabs-nav-list {
          padding: 8px;
          justify-content: space-between;

          .ant-tabs-tab {
            // margin: 0 2%;
            // width: 50%;
            justify-content: center;
            // margin: 0;
            border-radius: 15px;
            width: 100px;
            height: 42px;
            margin-right: 0;

            &:nth-child(1) {
              // margin-right: 14px;
            }

            .ant-tabs-tab-btn {
              font-family: HelveticaNeue-Medium;
              font-size: 14px;
              color: #999;
              letter-spacing: 0;
              line-height: 20px;
            }

            &.ant-tabs-tab-active {
              // background: #FFFFFF;
              .ant-tabs-tab-btn {
                font-family: HelveticaNeue-Medium;
                font-size: 14px;
                color: #3d56d6;
                letter-spacing: 0;
                line-height: 20px;
              }
            }
          }

          .ant-tabs-ink-bar {
            background: #3d56d6;
            display: block;
          }
        }
      }
    }
  }

  // .ant-tooltip .ant-tooltip-arrow {
  //   position: absolute;
  //   display: block;
  //   width: 13px;
  //   height: 13px;
  //   overflow: hidden;
  //   background: 0 0;
  //   pointer-events: none;
  //   left: 50%;
  //   top: auto;
  //   transform: translateX(-50%);
  //   bottom: -5px;

  //   .ant-tooltip-arrow-content {
  //     background: rgba(27, 31, 38, 0.9);
  //     box-shadow: 3px 3px 7px rgb(0 0 0 / 7%);
  //     transform: translateY(-6.53553391px) rotate(45deg);
  //     position: absolute;
  //     top: 0;
  //     right: 0;
  //     bottom: 0;
  //     left: 0;
  //     display: block;
  //     width: 5px;
  //     height: 5px;
  //     margin: auto;
  //     background-color: rgba(0, 0, 0, 0.75);
  //     content: '';
  //     pointer-events: auto;
  //   }
  // }
}

.home-page.fromGene {
  .intro {
    padding-top: 20px;

    h1 {
      font-size: 35px;
    }
  }

  .pool-container .sunold {
    margin-right: 0px;
  }
}

.lend-approve .tip span {
  text-align: center;
  width: 100%;
}

.home-container {
  width: 80%;
  margin: 0 auto;
}

.mining-container {
  margin-top: 150px;
  display: flex;
  justify-content: space-between;

  .m-title {
    font-family: HelveticaNeue-Bold;
    font-size: 20px;
    color: #1a1a1a;
    letter-spacing: 0;
  }

  .g-mine {
    // width: 60%;
    // padding: 30px;
    // background: #FFFFFF;
    // box-shadow: inset -4px -6px 10px 0 rgba(51,1,138,0.21);
    // border-radius: 30px;
    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .r-txt {
        font-family: HelveticaNeue-Medium;
        font-size: 14px;
        color: #ffffff;
        letter-spacing: 0;
        background: #3d56d6;
        border-radius: 10px;
        padding: 10px 20px;
      }
    }

    .total-text {
      margin-top: 30px;
      font-family: HelveticaNeue-Medium;
      font-size: 16px;
      color: #3d56d6;
      letter-spacing: 0;
    }

    .mined-cnt {
      font-family: HelveticaNeue;
      font-size: 12px;
      color: #3d56d6;
      letter-spacing: 0;
      display: inline-flex;
      align-items: center;
    }

    .mine-left {
      font-family: HelveticaNeue;
      font-size: 12px;
      color: #b19ed5;
      letter-spacing: 0;
      display: inline-flex;
      align-items: center;
    }

    .dot {
      width: 6px;
      height: 6px;
      display: inline-block;
      border-radius: 50%;
      background: rgb(89, 21, 225, 0.2);
      margin-right: 5px;
      line-height: 6px;
    }

    .dot-active {
      background: #3d56d6;
    }
  }

  .m-mine {
    width: calc(50% - 20px);
    padding: 30px;
    background: #ffffff;
    box-shadow: inset -4px -6px 10px 0 rgba(51, 1, 138, 0.21);
    border-radius: 30px;

    .sub-title {
      margin-top: 10px;
      font-family: HelveticaNeue;
      font-size: 14px;
      color: #999999;
      letter-spacing: 0;
    }

    .claimed-cnt {
      font-family: HelveticaNeue-Bold;
      font-size: 18px;
      color: #1a1a1a;
      letter-spacing: 0;
    }

    .sowDays {
      font-family: HelveticaNeue-Bold;
      font-size: 34px;
      color: #3d56d6;
      letter-spacing: 0;
    }
  }

  .aboutMining {
    width: calc(50% - 20px);
    padding: 30px;
    background: #ffffff;
    box-shadow: inset -4px -6px 10px 0 rgba(51, 1, 138, 0.21);
    border-radius: 30px;
    position: relative;

    .title {
      font-family: HelveticaNeue-Bold;
      font-size: 20px;
      color: #1a1a1a;
      letter-spacing: 0;
    }

    .li-title {
      margin-top: 10px;
      font-family: HelveticaNeue;
      font-size: 14px;
      color: #999999;
      letter-spacing: 0;
    }

    .li-value {
      font-family: HelveticaNeue-Bold;
      font-size: 18px;
      color: #1a1a1a;
      letter-spacing: 0;
    }

    .rulesLink {
      padding: 0 20px;
      height: 40px;
      line-height: 40px;
      background: #3d56d6;
      border-radius: 10px;
      position: absolute;
      top: 30px;
      right: 30px;

      a {
        color: #fff;
        font-size: 12px;
      }
    }
  }

  .r1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;

    span:nth-child(1) {
      font-family: HelveticaNeue-Bold;
      font-size: 40px;
      color: #3d56d6;
      letter-spacing: 0;
    }
  }

  .r2 {
    text-align: right;
  }

  .day-txt {
    font-family: HelveticaNeue;
    font-size: 12px;
    color: #999999;
    letter-spacing: 0;
  }

  .days {
    // .r2 {

    // }
    // span:nth-child(1) {
    //     font-family: HelveticaNeue-Bold;
    //     font-size: 20px;
    //     color: #3D56D6;
    //     letter-spacing: 0;
    // }
    // span:nth-child(2), span:nth-child(3) {
    //     font-family: HelveticaNeue;
    //     font-size: 12px;
    //     color: #999999;
    //     letter-spacing: 0;
    // }
    // span:nth-child(3) {
    //     display: block;
    // }
  }
}

.home-title {
  text-align: center;
  margin: 160px 0 50px;
  font-family: HelveticaNeue-Bold;
  font-size: 26px;
  color: #1f1f1f;
  letter-spacing: 0;
}

.pool-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  position: relative;

  &.old {
    margin-top: 12px;
  }

  &.fromGenesis {
    justify-content: center;
  }

  &.fromHome {
    margin-top: 0;
  }

  .announcement {
    font-family: PingFang SC;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 17px;
    text-align: left;
    color: #666;
    margin-top: -24px;

    a {
      font-size: 12px;
      text-decoration: underline;
      color: #3d56d6;

      &:hover {
        color: #3d56d6;
      }
    }
  }

  .coming {
    display: block;
    width: 100%;
    margin: 120px 0 100px;

    .title {
      margin-top: 30px;
      font-family: PingFangSC-Regular;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;
      text-align: center;
      color: #333333;
    }

    .tip {
      font-family: PingFangSC-Regular;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 14px;
      text-align: center;
      color: #999999;
      margin-top: 4px;

      a {
        font-family: PingFangSC-Regular;
        font-size: 12px;
        color: #3d56d6;
        text-decoration: underline;
      }
    }

    img {
      width: 14%;
    }
  }

  .heightSet {
    height: 122px;
  }

  .heightSetForGenesis {
    height: 98px;

    &.notLogin {
      height: 192px;
    }
  }

  .bottomFix {
    width: 100%;
  }

  .tip_unlock {
    font-size: 16px;
    color: #3d56d6;
    cursor: not-allowed;
    margin: 0 5px;
    position: relative;

    &.mini {
      cursor: pointer;
    }

    span {
      font-size: 12px;
    }

    a {
      color: #3d56d6;
      font-size: 12px;
      line-height: 20px;
    }

    &.gray {
      color: #b79cef;
    }

    &.mini {
      font-size: 12px;
      color: #999;
      text-align: right;

      &.mr {
        margin-right: 9.75%;
      }
    }

    .fr {
      position: absolute;
      right: 30px;
      top: 5px;
      font-size: 12px;
      color: #999;
      text-align: right;
    }
  }
  .sunold {
    width: 100%;
    width: calc((100% - 30px * 2) / 3);
    padding: 20px;
    background: #ffffff;
    box-shadow: 0 20px 40px 0 rgba(148, 148, 148, 0.06);
    border-radius: 15px;
    margin: 10px 20px 10px 0;
    position: relative;
    overflow: hidden;
    height: 470px;

    .bottomFix {
      position: absolute;
      bottom: 20px;
      width: calc(100% - 40px);

      .type-link.gray {
        cursor: not-allowed;
        color: #b79cef;
      }

      .create_btn.gray {
        cursor: not-allowed;
      }
    }

    .sunold-header,
    .ge-title {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }

    .ge-title {
      .title {
        margin-left: 10px;
      }
    }

    .ant-statistic {
      display: inline-block;

      .ant-statistic-content-value {
        color: #fff;
        font-size: 14px;
      }
    }

    a.type-link {
      color: #3d56d6;
      font-size: 12px;
      line-height: 20px;
      display: block;
      margin-top: 25px;

      &.preview {
        margin-top: 6px;
      }
    }

    .over {
      transform: rotate(-315deg);
      transform-origin: right top;
      font-family: AvenirNext-Bold;
      font-size: 14px;
      color: #ffffff;
      background: #999;
      position: absolute;
      right: -25px;
      top: 80px;
      height: 33px;
      line-height: 33px;
      width: 150px;

      &.preview {
        background: #27b78c;
        border-radius: 8px;
      }
    }

    img.tokenLogo {
      width: 14%;
    }

    img.sunoldLogo {
      width: 14%;
      margin-left: -10px;
    }

    .header-right {
      text-align: left;
      margin-left: 10px;
    }

    .title {
      font-family: HelveticaNeue;
      font-size: 20px;
      // font-size: 1.4vw;
      color: #1a1a1a;
      letter-spacing: 0;
      margin-bottom: 0;

      &.en {
        font-size: 1.3vw;
      }
    }

    .hr-sub {
      display: flex;
      align-items: center;
      transform: scale(0.833);
      transform-origin: left;
    }

    .tip {
      font-family: HelveticaNeue;
      font-size: 0.8vw;
      color: #999999;
      letter-spacing: 0;
      text-align: center;
      display: inline-block;
      margin-top: 0px;

      &.ml2 {
        margin-left: 5px;
      }

      b {
        font-weight: 600;
        color: #3d56d6;
      }
    }

    .total {
      margin: 30px auto 0;
      text-align: left;
      display: flex;
      justify-content: space-between;
      transform: scale(0.9);
      transform-origin: left;
      width: 110%;

      &.countdown {
        font-family: HelveticaNeue;
        font-size: 14px;
        letter-spacing: 0;
        line-height: 16px;
        justify-content: center;

        &.red {
          color: #d90019;
        }

        &.green {
          color: #1ba27a;
          margin-top: 50px;
        }
      }

      &.hide {
        opacity: 0;
      }

      .t-num {
        font-size: 12px;
      }

      .apy {
        font-family: HelveticaNeue;
        font-size: 13px;
        color: #1ba27a;
        letter-spacing: 0;
      }
    }

    .sunold-claim {
      .claim-fast {
        cursor: pointer;
        color: #3d56d6;
        text-decoration: underline;
      }
    }

    .htSet {
      height: 56px;

      &.preview {
        height: 30px;
      }
    }

    .info {
      margin: 10px auto 0px;
      padding: 14px 20px;
      width: 100%;
      position: relative;

      background: #ffffff;
      box-shadow: inset 0 -2px 8px 0 rgba(51, 1, 138, 0.08);
      border-radius: 15px;

      div {
        text-align: left;

        p {
          margin-bottom: 8px;
        }

        p:nth-child(1) {
          font-family: HelveticaNeue;
          font-size: 10px;
          color: #666666;
          line-height: 18px;
          letter-spacing: 0;
          transform: scale(0.83);
          margin-left: -9.2%;
        }

        p:nth-child(n + 2) {
          font-family: HelveticaNeue;
          font-size: 14px;
          color: #1a1a1a;
          letter-spacing: 0;
          display: flex;
          justify-content: space-between;

          span:nth-child(2) {
            font-family: HelveticaNeue;
            font-size: 12px;
            color: #999999;
            letter-spacing: 0;
          }
        }

        &:last-child {
          p:last-child {
            margin-bottom: 0;
          }
        }
      }

      &.mt1 {
        margin: 10px auto 0;

        div p:nth-child(2) {
          font-family: HelveticaNeue-Medium;
          font-size: 18px;
          color: #3d56d6;
          letter-spacing: 0;
        }
      }

      &.left {
        box-shadow: none;
      }

      .preview_info {
        div {
          text-align: center;
        }

        .preview_title {
          font-family: PingFangSC-Regular;
          font-size: 16px;
          color: #1ba27a;
          letter-spacing: 0;
          line-height: 22px;
          margin-top: 6px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        .preview_total {
          font-family: PingFangSC-Regular;
          font-size: 10px;
          color: #666666;
          letter-spacing: 0;
          margin-top: 16px;
          text-align: left;
          margin-left: calc((100% - 123px) / 2);

          .preview_amount {
            margin-left: 4px;
            font-family: HelveticaNeue;
            font-size: 14px;
            color: #1a1a1a;
            letter-spacing: 0;
          }

          &.day {
            margin: 8px 0 8px;
            text-align: left;
            margin-left: calc((100% - 123px) / 2);
          }
        }
      }

      usd {
        color: #3d56d6;
      }
    }

    .create_btn {
      background: #3d56d6;
      border-radius: 10px;
      width: 100%;
      height: 40px;
      line-height: 40px;
      font-family: HelveticaNeue;
      font-size: 12px;
      color: #ffffff;
      letter-spacing: 0;
      text-align: center;
      display: block;
      margin: 13px auto 0;

      .ant-statistic-content {
        font-size: unset;
      }

      .ant-statistic-content-value {
        color: #b79cef;
        font-size: 12px;
      }

      &.gray {
        cursor: auto;
        background: #e2d9f6;
        border-radius: 10px;
        box-shadow: none;
        font-family: HelveticaNeue;
        font-size: 12px;
        color: #b79cef;
        letter-spacing: 0;
        text-align: center;
      }
    }

    .staked {
      width: 81.5%;
      text-align: left;
      margin: 40px auto 0;

      .tip {
        font-family: HelveticaNeue;
        font-size: 12px;
        color: #999999;
        letter-spacing: 0;
      }

      .btnStyle {
        width: 100%;
        margin: 6px auto 0;
        background: #e2d9f6;
        border-radius: 15px;
        font-family: HelveticaNeue-Medium;
        font-size: 14px;
        color: #3d56d6;
        letter-spacing: 0;
        height: 58px;
        line-height: 58px;
        padding: 0 20px;
      }
    }
  }
}
