.j-energy-rental-container {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}

.energy-rental-page-bg {
  position: absolute !important;
  top: 0;
  left: 0;
  right: 0;
  height: max(30vw, 435px);
  background: #1f2027 url(../../../images/v2/energy-rental/page-bg.svg) no-repeat;
  background-size: 100%;
}

.rental-content-container {
  display: flex;
}

.section-content-container {
  position: relative;
  z-index: 1;
  background-color: #31333a;
  border-radius: 10px;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  color: #ffffff;

  &.visible {
    overflow: visible;
  }
}

.purple-link-btn {
  position: relative;
  display: inline-block;
  color: #9195fb;
  padding-right: 12px !important;

  &:hover {
    color: #9195fb;
    // text-decoration: underline;
  }

  &::before {
    content: '';
    background: url(../../../images/v2/energy-rental/right-arrow-purple.svg) 0 0 no-repeat;
    position: absolute;
    top: 50%;
    left: calc(100% - 10px);
    transform: translateY(-50%);
  }
}

body .ant-tooltip.energy-rental-tooltip {
  .ant-tooltip-inner {
    max-width: 220px;

    span,
    div {
      margin: 0;
      font-size: 12px;
      font-weight: 400;

      text-align: left;

      b {
        font-size: 12px;
        font-weight: 500;
      }
    }
    .four-pixel-placeholder {
      margin-right: 4px;
    }

    .connect-wallet-hint {
      position: relative;
      margin: 0;
      padding-left: 24px;

      color: #fff;
      font-size: 12px;
      font-weight: 400;

      cursor: default;

      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-53%);
        background: url(../../../images/v2/energy-rental/wallet-connect.svg) 0 0 no-repeat;
        background-size: 100%;

        background-size: 18px 18px;
        width: 18px;
        height: 18px;
      }
    }
  }

  &.refund-amount-tooltip {
    max-width: 300px;

    .ant-tooltip-inner {
      max-width: 300px;
    }
  }
}

.j-transaction-modal {
  .ant-modal-body {
    .trans-icon {
      > img {
        width: 66px;
        height: 66px;
      }
    }
  }
}

.energy-rental-skeleton {
  position: relative;
  margin-top: 40px;
  border-radius: 10px;
  overflow: hidden;

  .ant-skeleton {
    padding: 22px 30px;
    border-radius: 2px;
  }
  .ant-skeleton-content .ant-skeleton-paragraph > li + li {
    margin-top: 13px;
  }

  .skeleton-container-background {
    background-color: #31333a;
    border-radius: 10px;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
  }

  .page-title-skeleton-container {
    height: 74px;
    .flex-between {
      .ant-skeleton:last-child .ant-skeleton-paragraph {
        display: flex;
        justify-content: flex-end;
      }
    }
    .ant-skeleton {
      padding: 6px 0px;

      .ant-skeleton-paragraph > li {
        height: 18px;
      }
    }
  }

  .rental-content-skeleton-group {
    display: flex;
    height: 434px;
    margin-bottom: 20px;

    .large-btn-skeleton {
      margin-top: 15px;
    }

    &.tip-skeleton {
      height: 464px;

      .large-btn-skeleton {
        margin-top: 0;
      }
    }
  }

  .rental-form-skeleton-container {
    position: relative;
    flex-basis: 100%;
    overflow: hidden;

    .form-skeleton-bg {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      background: linear-gradient(
        -18deg,
        rgba(83, 239, 222, 0) 69.54%,
        rgba(83, 239, 222, 0) 81.37%,
        rgba(83, 239, 222, 0.07) 87.89%,
        rgba(83, 239, 222, 0.2) 93.83%,
        rgba(63, 255, 216, 0.5) 101.85%
      );
      mix-blend-mode: exclusion;
    }
    .form-title-skeleton-row {
      position: relative;
      margin: 0 30px;

      .ant-skeleton {
        padding: 20px 0;

        .ant-skeleton-paragraph > li {
          height: 18px;
        }
      }
    }

    .form-content-skeleton-group {
      padding: 0 20px;
      .ant-skeleton {
        padding: 8px;

        .ant-skeleton-paragraph > li {
          height: 18px;
        }
      }

      .form-content-skeleton-row {
        display: flex;

        &.tall-row {
          .ant-skeleton-paragraph > li {
            height: 26px;
          }
        }
      }

      .rent-info-skeleton-group {
        display: flex;
        margin: 6px 10px;
        padding: 8px 20px;

        background: rgba(255, 255, 255, 0.04);
        border-radius: 5px;
      }

      .avalible-tip-skeleton {
        padding: 12px 8px;
      }

      .thick-skeleton {
        .ant-skeleton-paragraph > li {
          height: 60px;
          border-radius: 5px !important;
        }

        &.dark {
          .ant-skeleton-paragraph > li {
            background: #2b2d34;
          }
        }
      }
    }
  }

  .tips-skeleton-container {
    height: 126px;
    margin-bottom: 20px;
    padding: 0 30px;

    &.en {
      height: 164px;

      .ant-skeleton .ant-skeleton-paragraph > li {
        height: 40px;
      }
    }

    .ant-skeleton {
      padding: 12px 0;
    }

    .tips-title-skeleton-row {
      .ant-skeleton .ant-skeleton-paragraph > li {
        height: 20px;
      }
      border-bottom: 1px solid rgba(255, 255, 255, 0.06);
    }

    .tips-content-skeleton-group {
      display: flex;
      .left-group {
        flex-basis: 45%;
      }
      .right-group {
        margin-left: 30px;
        flex-basis: 45%;
      }
    }
  }
  .market-data-skeleton-container {
    padding: 0 30px;

    .market-data-title-skeleton-row {
      border-bottom: 1px solid rgba(255, 255, 255, 0.06);
    }

    .ant-skeleton {
      padding: 16px 0;
      .ant-skeleton-paragraph > li {
        width: 200px;
        height: 20px;
        background: linear-gradient(90deg, rgba(255, 255, 255, 0.15) 0%, rgba(217, 217, 217, 0) 100%);
      }
    }

    .price-and-chart-skeleton-group {
      display: flex;
      justify-content: space-between;
      height: 194px;

      .ant-skeleton {
        padding: 25px 0;
      }

      .left-group {
        flex-basis: 50%;
        display: flex;
        align-items: center;
        .ant-skeleton {
          .ant-skeleton-paragraph > li:nth-child(1) {
            width: 200px;
            height: 30px;
          }
          .ant-skeleton-paragraph > li:nth-child(2) {
            width: 340px;
            height: 36px;
          }
          .ant-skeleton-paragraph > li:nth-child(3) {
            width: 200px !important;
            height: 20px;
          }
        }
      }
      .right-group {
        margin: 30px 0 20px;
      }
    }

    .market-stat-skeleton {
      height: 341px;
      margin: 0 -30px;
      padding-top: 30px;
      background: rgba(255, 255, 255, 0.02);

      .market-stat-skeleton-tabs {
        width: 40%;
        display: flex;
        padding-left: 30px;

        .ant-skeleton {
          padding: 20px 0;

          &:first-child {
            margin-right: 20px;
          }

          .ant-skeleton-paragraph > li {
            height: 28px;
            border-radius: 5px !important;
            background: rgba(31, 32, 39, 0.4);
          }
        }
      }

      .market-stat-skeleton-left {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        padding-left: 30px;
      }

      .market-stat-skeleton-top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;

        > div:first-child {
          width: 200px;

          .ant-skeleton {
            padding: 0;
            margin-bottom: 6px;
          }
          .ant-skeleton-paragraph > li {
            background: linear-gradient(90deg, rgba(255, 255, 255, 0.15) 0%, rgba(217, 217, 217, 0) 100%);
          }
        }

        > div:last-child {
          > div {
            width: 110px;
            margin-left: 16px;
            &:first-child {
              width: 70px;
            }

            .ant-skeleton {
              padding: 0;
              margin-bottom: 6px;

              .ant-skeleton-paragraph > li {
                background: linear-gradient(90deg, rgba(255, 255, 255, 0.15) 0%, rgba(217, 217, 217, 0) 100%);
              }
            }
          }
        }
      }

      .market-stat-skeleton-bottom {
        margin-bottom: 30px;
        .ant-skeleton {
          padding: 0;
          margin-top: 8px;
          .ant-skeleton-paragraph > li {
            height: 16px;
            background: linear-gradient(90deg, rgba(255, 255, 255, 0.15) 0%, rgba(217, 217, 217, 0) 100%);
          }
        }
      }

      .market-stat-skeleton-right {
        margin: 10px 0 30px 37px;
        padding: 0 30px 0 44px;
        border-left: 1px solid rgba(255, 255, 255, 0.1);
        flex: 1;

        .ant-skeleton {
          padding: 5px 0px;

          .ant-skeleton-avatar {
            border-radius: 8px;
            background: rgba(255, 255, 255, 0.03);
          }

          &:nth-child(1),
          &:nth-child(4) {
            margin-bottom: 10px;
          }

          .ant-skeleton-paragraph > li {
            background: linear-gradient(90deg, rgba(255, 255, 255, 0.15) 0%, rgba(217, 217, 217, 0) 100%);
          }
        }
      }
    }
  }
}

/* White theme */
#root .j-wrapper.white {
  .energy-rental-page-bg {
    background: #f0f2f7 url(../../../images/v2/energy-rental/page-bg-white-theme.svg) no-repeat;
    background-size: 100%;
  }

  .section-content-container {
    background-color: #ffffff;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    color: #22232b;
  }

  .purple-link-btn {
    color: #4d54ff;

    &:hover {
      color: #4d54ff;
    }

    &::before {
      background-image: url(../../../images/v2/energy-rental/right-arrow-purple-white-theme.svg);
    }
  }

  .energy-rental-skeleton {
    .form-skeleton-bg {
      background: linear-gradient(
        326deg,
        rgba(76, 212, 255, 0) 76.64%,
        rgba(16, 139, 114, 0.25) 110.29%,
        rgba(63, 255, 216, 0.83) 119.81%
      );
      mix-blend-mode: normal;
    }

    .page-title-skeleton-container {
      .ant-skeleton-paragraph > li {
        background: linear-gradient(90deg, rgba(34, 35, 43, 0.05) 3.26%, rgba(34, 35, 43, 0) 107.07%);
      }
    }

    .skeleton-container-background {
      background: #f9fafc !important;
      box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
    }

    .form-content-skeleton-group {
      .rent-info-skeleton-group {
        background: linear-gradient(90deg, #e9ecf4 3.26%, rgba(240, 242, 247, 0) 107.07%);

        .ant-skeleton-paragraph > li {
          background: linear-gradient(90deg, #fff -0.02%, rgba(255, 255, 255, 0) 100.02%);
        }
      }

      .thick-skeleton {
        &.dark {
          .ant-skeleton-paragraph > li {
            background: #4d54ff;
            opacity: 0.06;
          }
        }
      }
    }
  }

  .market-data-skeleton-container {
    .market-data-title-skeleton-row {
      border-bottom: 1px solid #f2f2f2;
    }

    .ant-skeleton {
      .ant-skeleton-paragraph > li {
        background: linear-gradient(90deg, rgba(34, 35, 43, 0.05) 3.26%, rgba(34, 35, 43, 0) 107.07%);
      }
    }

    .market-stat-skeleton {
      background: rgba(34, 35, 43, 0.02);

      .market-stat-skeleton-tabs {
        .ant-skeleton {
          .ant-skeleton-paragraph > li {
            background: rgba(34, 35, 43, 0.08);
          }
        }
      }

      .market-stat-skeleton-top {
        > div {
          .ant-skeleton-paragraph > li {
            background: linear-gradient(90deg, rgba(34, 35, 43, 0.05) 3.26%, rgba(34, 35, 43, 0) 107.07%);
          }
        }
      }

      .market-stat-skeleton-legend {
        > .market-stat-skeleton-legend-item {
          background: rgba(34, 35, 43, 0.04);
        }
      }
    }

    .market-stat-skeleton-bottom {
      .ant-skeleton {
        .ant-skeleton-paragraph > li {
          background: linear-gradient(90deg, rgba(34, 35, 43, 0.05) 3.26%, rgba(34, 35, 43, 0) 107.07%);
        }
      }
    }

    .market-stat-skeleton-right {
      border-left: 0.5px solid rgba(115, 116, 128, 0.3);

      @media screen and (max-width: 798px) {
        border-left: none;
        border-top: 0.5px solid rgba(115, 116, 128, 0.3);
      }

      .ant-skeleton {
        .ant-skeleton-avatar {
          background: rgba(34, 35, 43, 0.04);
        }

        .ant-skeleton-paragraph > li {
          background: linear-gradient(90deg, rgba(34, 35, 43, 0.05) 3.26%, rgba(34, 35, 43, 0) 107.07%);
        }
      }
    }
  }
}

/* Large screen */
@media (min-width: 799px) {
  .rental-content-container {
    flex-direction: row;
    justify-content: space-around;

    &.show-mini-list {
      justify-content: space-between;

      .rental-form {
        flex-grow: 1;
      }
    }
  }

  .purple-link-btn {
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
    margin-right: 4px;

    &::before {
      margin-left: 2px;

      background-size: 10px 10px;
      width: 10px;
      height: 11px;
    }
  }
}

/* Small screen */
@media (max-width: 798px) {
  .j-energy-rental-container {
    padding-top: 20px;
  }

  .energy-rental-page-bg {
    background: #1f2027 url(../../../images/v2/energy-rental/page-bg-mobile.svg) no-repeat;
    background-size: 100%;
  }

  .rental-content-container {
    flex-direction: column-reverse;
  }

  .purple-link-btn {
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
    margin-right: 8px;

    &::before {
      margin-left: 2px;

      background-size: 8px 8px;
      width: 8px;
      height: 8px;
    }
  }

  .energy-rental-skeleton {
    margin-top: 20px;
    .page-title-skeleton-container {
      height: 128px;

      .flex-between {
        flex-direction: column;

        &:first-child .ant-skeleton:last-child .ant-skeleton-paragraph li {
          width: 100% !important;
        }

        .ant-skeleton:last-child .ant-skeleton-paragraph {
          justify-content: flex-start;
        }
      }

      .ant-skeleton {
        padding: 0 0 12px 0;

        .ant-skeleton-paragraph > li {
          height: 18px;
        }
      }
    }

    .tips-skeleton-container {
      height: 216px;

      &.en {
        height: 216px;
      }

      .ant-skeleton {
        padding: 16px 0;

        .ant-skeleton-paragraph > li {
          height: 20px !important;
        }
      }

      .tips-content-skeleton-group {
        flex-direction: column;

        .right-group {
          margin-left: 0;
          margin-top: -11px;
        }
      }
    }

    .market-data-skeleton-container {
      padding: 0 15px;

      .market-data-title-skeleton-row,
      .price-and-chart-skeleton-group {
        height: auto;
        .ant-skeleton {
          .ant-skeleton-paragraph > li {
            width: 242px !important;
          }
        }
      }

      .price-and-chart-skeleton-group {
        flex-direction: column;

        .right-group {
          margin: 5px 0 20px;

          img {
            width: 100%;
          }
        }
      }

      .market-stat-skeleton {
        height: auto;
        margin: 0 -15px;

        .market-stat-skeleton-tabs {
          width: 100%;
          padding-left: 0;
          justify-content: center;

          .ant-skeleton {
            width: 138px;
            padding: 30px 0 20px;

            &:first-child {
              width: 110px;
            }
          }
        }

        .flex-center {
          flex-direction: column;
        }

        .market-stat-skeleton-left {
          display: flex;
          flex-direction: column;
          margin-top: 10px;
          padding-left: 0;
        }

        .market-stat-skeleton-legend {
          margin-bottom: 20px;

          .ant-skeleton {
            padding: 0;
          }

          .market-stat-skeleton-legend-item {
            display: flex;
            align-items: center;
            padding: 8px 14px;
            margin-bottom: 10px;
            background: rgba(255, 255, 255, 0.04);
            border-radius: 5px;
          }
        }

        .market-stat-skeleton-top {
          flex-direction: column;

          > div:first-child {
            width: 100%;
            display: flex;
            flex-wrap: wrap;

            .ant-skeleton {
              width: 50%;
              padding: 0;
              margin-bottom: 6px;
            }

            .ant-skeleton-paragraph > li {
              width: 50% !important;
            }
          }

          > div:last-child {
            display: none !important;
          }
        }

        .market-stat-skeleton-bottom {
          margin-bottom: 20px;

          img {
            width: calc(100vw - 73px);
            height: 144px;
            object-fit: cover;
          }
        }

        .market-stat-skeleton-right {
          width: calc(100vw - 73px);
          margin: 0;
          padding: 25px 0px 30px 0px;
          border-left: none !important;
          border-top: 1px solid rgba(255, 255, 255, 0.1);
          flex: 1;
          display: flex;
          flex-direction: column;

          > .ant-skeleton {
            width: 120px;
          }

          .user-info-skeleton-item {
            display: flex;

            > div {
              flex: 1;
              padding-right: 30px;
            }
          }

          .ant-skeleton {
            padding: 5px 0px;

            .ant-skeleton-avatar {
              border-radius: 8px;
              background: rgba(255, 255, 255, 0.03);
            }

            &:nth-child(1),
            &:nth-child(4) {
              margin-bottom: 10px;
            }

            .ant-skeleton-paragraph > li {
              background: linear-gradient(90deg, rgba(255, 255, 255, 0.15) 0%, rgba(217, 217, 217, 0) 100%);
            }
          }
        }
      }
    }
  }

  #root .j-wrapper.white {
    .energy-rental-page-bg {
      background: #f0f2f7 url(../../../images/v2/energy-rental/page-bg-mobile-white-theme.svg) no-repeat;
      background-size: 100%;
    }
  }
}
